@model baconlockeWeb.Models.zq_CustomerTable
@{
    ViewBag.Title = "联系我们";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<!--About Banner section-->
<div class="banner-area service-banner">
    <div class="container">
        <div class="row">
            <div class="main-banner text-center">
                <h2 class="text-white">联系我们</h2>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="/Home/Contact">联系我们</a></li>
                </ol>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</div><!-- End off banner section -->
<!--Newest Blog post section-->
<section id="blog-page" class="blog-page sections">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="blog-post-form-area bg-grey img-rounded">
                    <div class="blog-post-form-title">
                        <h3 class="text-black">给我们留言</h3>
                        <div class="separator"><span></span><span></span><span></span></div>
                    </div>
                    @*<form class="m-top-40">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="请填写您的姓名">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="请填写您的电话">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control textarea" rows="3" placeholder="请填写您的需求"></textarea>
                                </div>
                            </div>
                        </div>

                    </form>*@

                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "m-top-40" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @*<input type="text" class="form-control" placeholder="请填写您的姓名">*@
                                    @Html.EditorFor(model => model.customerName, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写您的姓名" } })
                                    @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @*<input type="text" class="form-control" placeholder="请填写您的电话">*@
                                    @Html.EditorFor(model => model.customerPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写您的电话" } })
                                    @Html.ValidationMessageFor(model => model.customerPhone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @*<textarea class="form-control textarea" rows="3" placeholder="请填写您的需求"></textarea>*@
                                    @Html.TextAreaFor(model => model.customerMessage, new { @class = "form-control textarea", placeholder = "请填写您的需求", rows = "3" })
                                    @Html.ValidationMessageFor(model => model.customerMessage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-round">立即提交</button>
                    }
                </div><!-- End off form -->
            </div><!-- End off col-md-7 -->

            <div class="col-md-4 col-md-offset-1">
                <div class="sidebar sm-m-top-80">
                    <div class="socail-bookmark">
                        <div class="col-md-12">
                            <div class="contact-boxv1-item m-top-20">
                                <ul class="list-inline">
                                    <li class="dropdown cart-menu">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="~/assets/images/zhifu.png" alt="支付宝" style="height:50px;" />
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <img src="~/assets/images/zfb.png" alt="支付宝" />
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown cart-menu">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="~/assets/images/weico.png" alt="微信号" style="height:50px;" />
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <img src="~/assets/images/weixin.png" alt="" />
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown cart-menu">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="~/assets/images/qqico.png" alt="QQ" style="height:50px;" />
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <img src="~/assets/images/qqewm.jpg" alt="QQ" />
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown cart-menu">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="~/assets/images/weibo.png" alt="微博号" style="height:50px;" />
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <img src="~/assets/images/wbewm.jpg" alt="微博号" />
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- End off col-md-4 -->
                        <div class="col-md-12 m-top-30">
                            <div class="title">
                                <h4 class="text-black">办公地址</h4>
                                <div class="separator"><span></span><span></span><span></span></div>
                            </div>
                            <div class="contact-boxv1-item m-top-10">
                                <div class="boxv1-item-img">
                                    <img src="~/assets/images/location-img.png" alt="">
                                </div>
                                <div class="boxv1-item-content text-black">
                                    <p class="m-top-10 text-black">
                                        无锡市惠山区钱桥育才路27号
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off col-md-4 -->
                        <div class="col-md-12 m-top-10">
                            <div class="title">
                                <h4 class="text-black">加盟热线</h4>
                                <div class="separator"><span></span><span></span><span></span></div>
                            </div>
                            <div class="contact-boxv1-item m-top-10">
                                <div class="boxv1-item-img">
                                    <img src="~/assets/images/phone-fax-img.png" alt="">
                                </div>
                                <div class="boxv1-item-content text-black">
                                    <p class="m-top-10">
                                        400-878-4867 / 0510-83480622
                                    </p>
                                </div>
                            </div>
                        </div><!-- End off col-md-4 -->
                        <div class="col-md-12 m-top-20">
                            <div class="title">
                                <h4 class="text-black">公司邮箱</h4>
                                <div class="separator"><span></span><span></span><span></span></div>
                            </div>
                            <div class="contact-boxv1-item m-top-10">
                                <div class="boxv1-item-img">
                                    <img src="~/assets/images/envelop-img-02.png" alt="">
                                </div>
                                <div class="boxv1-item-content text-black">
                                    <p class="m-top-10">
                                        baconlocke@163.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End off col-md-4 -->
                    </div>
                </div>
            </div><!-- End off col-md-4 -->
        </div> <!-- End off row -->
    </div> <!-- End off container -->

</section> <!-- End off Blog page section-->


<section>
    <div class="container">
        <div class="row">
            <iframe src="http://ditu.amap.com/place/B0FFI9ODG3" style="width:100%;height:340px;border:none;"></iframe>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off newsletter v1 section -->
<!-- 在线咨询 begin -->
<div class="main-im">
    <a href="http://www.sobot.com/chat/oldpc/index.html?sysNum=e0d08cc1cf75472084489985b5d7e651" target="_blank">
        <img src="~/assets/images/open_im.png" />
    </a>
</div>
<!-- 在线咨询 end-->