@model baconlockeWeb.Models.zq_CustomerTable

@{
    ViewBag.Title = "首页";
}
@Styles.Render("~/demo/css")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<section id="homev1" class="homev1 home-one">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line kenburns_zoomInOut" data-ride="carousel" data-interval="10000">
        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Third Slide -->
            <div class="item active">
                <!-- Slide Background -->
                <img src="~/assets/images/slide-bg-01.jpg" alt="SeoPress Slider" id="slide1"/>
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="slide-text slide_style_center">
                                <h1 class="text-white" data-animation="animated zoomInRight">一站式教育解决方案</h1>
                                <p class="text-white m-top-10" data-animation="animated fadeInLeft">更个性的学习方式，全面提升学习力！</p>
                                <a class="btn btn-primary btn-round m-top-30" data-animation="animated fadeInLeft" href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank">咨询详情</a>
                                <a class="btn btn-default btn-round m-top-30" data-animation="animated fadeInRight" href="/Home/Download" target="_blank">下载使用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Second Slide -->
            <div class="item">
                <img src="~/assets/images/slide-bg-02.jpg" alt="SeoPress Slider" id="slide2" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="col-md-6">
                            <div class="slide-text slide_style_left">
                                <h1 class="text-white" data-animation="animated fadeInRight">不用老师 高效学习</h1>
                                <p class="text-white m-top-10" data-animation="animated zoomInLeft">一站式的教育解决方案，覆盖学生学习的所有环节</p>
                                <a class="btn btn-default btn-round m-top-30" data-animation="animated fadeInRight" href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank">咨询详情</a>
                                <a class="btn btn-primary btn-round m-top-30" data-animation="animated fadeInLeft" href="/Home/Download" target="_blank">下载使用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Third Slide -->
            <div class="item">
                <img src="~/assets/images/slide-bg-03.jpg" alt="SeoPress Slider" id="slide3" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="col-md-6">
                            <div class="slide-text slide_style_left">
                                <h1 class="text-white" data-animation="animated fadeInDown">完整课程体系</h1>
                                <p class="text-white m-top-10" data-animation="animated fadeInLeft">专业的团队、强大的题库、个性化定制每个学生的学习规划。</p>
                                <a class="btn btn-primary btn-round m-top-30" data-animation="animated fadeInLeft" href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank">咨询详情</a>
                                <a class="btn btn-default btn-round m-top-30" data-animation="animated fadeInRight" href="/Home/Download" target="_blank">下载使用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fourth Slide -->
            <div class="item">
                <img src="~/assets/images/slide-bg-04.jpg" alt="SeoPress Slider" id="slide4" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="col-md-6">
                            <div class="slide-text slide_style_left">
                                <h1 class="text-white" data-animation="animated fadeInLeft">实时互动 家长更放心</h1>
                                <p class="text-white m-top-10" data-animation="animated fadeInRight">实时监督以及教学管理。真正做到专业与技术的完美融合！</p>
                                <a class="btn btn-primary btn-round m-top-30" data-animation="animated fadeInLeft" href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank">咨询详情</a>
                                <a class="btn btn-default btn-round m-top-30" data-animation="animated fadeInRight" href="/Home/Download" target="_blank">下载使用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
        </div>
        <!-- End of Wrapper For Slides -->
        <!-- carousel indicators -->
        <div class="carousel-indicators text-center">
            <div data-target="#bootstrap-touch-slider" data-slide-to="0" class="active indicatior-item text-center bg-black">
                <div class="slid-number">1</div>
                <div class="sp-thumbnail-title text-white m-top-10">
                    <h4>智能课堂</h4>
                </div>
                <div class="hidden-sm carousel-indicators-description bg-info text-white m-top-20">
                    <p class="bg-info">利用人工智能和大数据的优势，实现比传统课堂更高效、更吸引学生的教学。</p>
                </div>
            </div>
            <div data-target="#bootstrap-touch-slider" data-slide-to="1" class="indicatior-item text-center bg-black">
                <div class="slid-number">2</div>
                <div class="sp-thumbnail-title text-white m-top-10">
                    <h4>开启教育新篇章</h4>
                </div>
                <div class="hidden-sm carousel-indicators-description bg-info text-white m-top-20">
                    <p>目前在线教育种类繁多，定位差异很大。无法从根本解决问题。</p>
                </div>
            </div>
            <div data-target="#bootstrap-touch-slider" data-slide-to="2" class="indicatior-item text-center bg-black">
                <div class="slid-number">3</div>
                <div class="sp-thumbnail-title text-white m-top-10">
                    <h4>个性化学习平台</h4>
                </div>
                <div class="hidden-sm carousel-indicators-description bg-info text-white m-top-20">
                    <p>
                        100%与学校考试接轨，将学校知识点更加细致的分类，一切以考试提分为目标。
                    </p>
                </div>
            </div>
            <div data-target="#bootstrap-touch-slider" data-slide-to="3" class="indicatior-item text-center bg-black">
                <div class="slid-number">4</div>
                <div class="sp-thumbnail-title text-white m-top-10">
                    <h4>全程记录学习过程</h4>
                </div>
                <div class="hidden-sm carousel-indicators-description bg-info text-white m-top-20">
                    <p>家长不仅有学习概括的短信通知, 也可使用监督工具实时查看学习进度。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End  bootstrap-touch-slider Slider -->
</section>
<!-- End off homev1 section -->
<!-- Service Section -->
<section id="service" class="service sections" style="padding-top:60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">为什么叫智能课堂？</h2>
                    <p class="m-top-10 text-black" style="line-height:24px;">
                        培洛利用人工智能和大数据的优势, 实现比传统课堂更高效、更吸引学生的教学。包含学生学习的所有环节。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="main-studies m-top-50">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/1.jpg" alt="上课教学" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">上课教学</a></h4>
                                <p class="m-top-10">培洛根据知识点的难易程度和继承关系，制作出梯度化的教学微视频。比传统课堂更省时、更省力！</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item xs-m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/2.jpg" alt="课后练习" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">课后练习</a></h4>
                                <p class="m-top-10">在学完知识后，立即进行安排100%匹配的练习题，在实践中更进一步的理解知识点、掌握知识点。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item sm-m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/3.jpg" alt="作业批改" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">作业批改</a></h4>
                                <p class="m-top-10">学生做完题后，后台老师会逐一审核，遇到个体问题，会进行针对性的一对一讲解。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/4.jpg" alt="考试测评" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">考试测评</a></h4>
                                <p class="m-top-10">摆脱纸质试卷，做多少，多少分，哪方面薄弱，老师一键查看。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/5.jpg" alt="学情分析" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">学情分析</a></h4>
                                <p class="m-top-10">摆脱档案盒，每一次学习都会记录在云端，自动生成分析。家长、老师都能实时查看即时或既往的记录。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="studies-item m-top-35">
                            <div class="studies-feature border">
                                <img class="img-rounded" src="~/assets/images/6.jpg" alt="错题巩固" />
                            </div>
                            <div class="studies-conten m-top-30">
                                <h4><a href="">巩固复习</a></h4>
                                <p class="m-top-10">系统记录错题，并依据遗忘曲线主动推送练习。跟错题本说拜拜。</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End off row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="studies-btns text-center m-top-50">
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank" class="btn btn-primary btn-round">查看更多</a>
                        </div>
                    </div>
                </div>
                <!-- End off row -->
            </div>
            <!-- End off main studies -->
        </div>
        <!-- End off col-md-12 -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Service Section -->
<!--The leading Section-->
<section id="leading" class="leading bg-primary sections2" style="padding:60px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center" style="padding-bottom:20px;">
                    <h2 class="text-white">智能课堂有什么特点？</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main-timeline">
                <div class="col-md-2 col-sm-6 timeline">
                    <div class="timeline-icon"><img src="~/assets/images/demo6.jpg" style="border-radius:50%;" /></div>
                    <div class="timeline-content">
                        <div class="post">靶向性题库</div>
                        <p class="description suojin">
                            智能课堂题库100%与学校考试接轨，以学校课本为核心，以课堂练习、学习报、历年试卷为基础题库。以学校推荐教辅为补充题库，一切以考试提分为目标。
                        </p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 timeline">
                    <div class="timeline-icon"><img src="~/assets/images/demo2.jpg" style="border-radius:50%;" /></div>
                    <div class="timeline-content">
                        <div class="post">高精度专项</div>
                        <p class="description suojin">
                            智能课堂的题库分类至原子级别，并根据考试频率制作成专项训练，配上精心制作的视频。当练习、测评中发现学生某个知识点不熟悉时，可以即时的推送相关课程。
                        </p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 timeline">
                    <div class="timeline-icon"><img src="~/assets/images/demo3.jpg" style="border-radius:50%;" /></div>
                    <div class="timeline-content">
                        <div class="post">多维度讲解</div>
                        <p class="description suojin">
                            智能课堂的解释包括了图文并茂的文本、提纲性的解题录音、针对性的解题视频。确保学生能更快捷、更透彻的掌握知识点。
                        </p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 timeline">
                    <div class="timeline-icon"><img src="~/assets/images/demo5.jpg" style="border-radius:50%;" /></div>
                    <div class="timeline-content">
                        <div class="post">一对一辅导</div>
                        <p class="description suojin">
                            学生的每次学习、每道练习，后台教师都会进行复核，遇到情况，会针对性的讲解反馈，一对一的进行辅导。
                        </p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 timeline">
                    <div class="timeline-icon"><img src="~/assets/images/demo1.jpg" style="border-radius:50%;" /></div>
                    <div class="timeline-content">
                        <div class="post">有规划巩固</div>
                        <p class="description suojin">
                            培洛根据记忆曲线将学生的错题主动的安排到每日任务中，并优先练习。确保学生能即时的巩固自己的不足，清除知识点死角。
                        </p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 timeline">
                    <div class="timeline-icon"><img src="~/assets/images/demo4.jpg" style="border-radius:50%;" /></div>
                    <div class="timeline-content">
                        <div class="post">流畅学新课</div>
                        <p class="description suojin">
                            在智能课堂上，学生不仅可以复习，而且可以对新课进行完整的学习。智能课堂不仅完全覆盖了传统课堂上老师会讲的知识点，而且覆盖了一些在考试中才会出现的难点和易错题型。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End off row-->
    </div>
    <!-- End off container -->
</section>
<!-- End off leading section-->


<section id="service" class="service sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">培洛的理念</h2>
                    <p class="m-top-10 text-black">复杂的数据结构和算法，一切都是为了超简洁的用户体验。</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main-service-area text-center m-top-80">
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service1.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">高水平教学</h5>
                        <p class="text-black m-top-20">不用辛苦寻找好老师、好资料。立体图形、真人语音、微视频包括一对一讲解</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service3.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">个性化定制</h5>
                        <p class="text-black m-top-20">不用担心内容不匹配，进度由孩子自身情况决定。个性化定制教学方案</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item sm-m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service2.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">教与练结合</h5>
                        <p class="text-black m-top-20">不用担心没掌握，在学的过程中练，在练的过程中学</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service4.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">随时随地学</h5>
                        <p class="text-black m-top-20">不受时间地点限制，想学就学，不用老师，高效学习</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service6.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">全过程监督</h5>
                        <p class="text-black m-top-20">不用担心学生不自觉，第一时间发现问题，实时互动，一对一解答</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-item m-top-65">
                        <div class="service-icon">
                            <img src="~/assets/images/service5.png" alt="" />
                        </div>
                        <h5 class="text-info m-top-50">低成本学习</h5>
                        <p class="text-black m-top-20">不断利用先进科技降低成本，让更多莘莘学子能低成本的学习。
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="business" class="business bg-black p-top-30 p-bottom-30">
    <div class="container">
        <div class="row">
            <div class="main-business">
                <div class="col-md-6">
                    <div class="business-content m-top-40">
                        <h2 class="text-white">
                            视频预览
                        </h2>
                        <p class="m-top-30 text-primary">
                            越来越多的学子开始走进培洛科技智能课堂！
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="business-video sm-m-top-50">
                        <img src="~/assets/images/business-video-img1.png" alt="" />
                        <div class="business-video-icon">
                            <a href="http://www.pl-kj.com/video/videonew.mp4" class="video-link"><span class="icon icon-interface"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Pricing section-->
<section id="pricing" class="pricing sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">学员有话说</h2>
                    <p class="text-black m-top-10">
                        培洛一切以考试提分为目的，在学习的同时也会让学生收获满满。
                    </p>
                </div>
            </div>
            <div class="main-pricing text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-item border" style="padding: 35px 0 25px 0; height:auto;">
                        <div class="pricing-icon">
                            <img src="~/assets/images/y3.png" alt="" />
                        </div>
                        <div class="pricing-title m-top-40">
                            <h4 class="text-black">陈冰艳</h4>
                            <div class="separator"></div>
                        </div>
                        <p class="suojin1" style="padding-top:20px;">
                            我刚上六年级，数学成绩一直不理想，特别怕数学。暑假里开始使用智能课堂，我提前学习了六年级的新课，一些难点都有专门的视频讲解，很好理解。
                            做题时遇到困难，后台老师也会留言给我讲解。开学后，数学第一单元我竟然考了全班第一，妈妈都不敢相信！
                        </p>
                        @*<ul class="pricing-body m-top-20">
                                <li><strong>2</strong> Analytics Campaigns</li>
                                <li><strong>100</strong> Keywords</li>
                                <li><strong>25</strong>  Branded Reports</li>
                                <li><strong>50,000</strong> Crawled Pages</li>
                                <li><strong>10</strong> Social Accounts</li>
                            </ul>*@
                    </div>
                </div>
                <!-- End off col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-item border xs-m-top-80" style="padding: 35px 0 25px 0; height:auto;">
                        <div class="pricing-icon">
                            <img src="~/assets/images/y4.png" alt="" />
                        </div>
                        <div class="pricing-title m-top-40">
                            <h4 class="text-black">孙家旺</h4>
                            <div class="separator"></div>
                        </div>
                        <p class="suojin1" style="padding-top:20px;">
                            今年我从山东老家转到爸妈工作的无锡上学了，真的超级开心！但我英语非常差，每次都只考二三十分。
                            正好我家楼下有个智能课堂，妈妈帮我报名后进行了很辛苦的学习，花了一个月我就把之前一整年课的重新学了一遍。
                            在新的学校，我第一单元英语考了91分，全家都非常开心。
                        </p>
                    </div>
                </div>
                <!-- End off col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-item border sm-m-top-80" style="padding: 35px 0 25px 0; height:auto;">
                        <div class="pricing-icon">
                            <img src="~/assets/images/y1.png" alt="" />
                        </div>
                        <div class="pricing-title m-top-40">
                            <h4 class="text-black">周宇轩</h4>
                            <div class="separator"></div>
                        </div>
                        <p class="suojin1" style="padding-top:20px;">
                            我的英语发音不是很标准，妈妈就给我报了智能课堂的音标课程。读不好的音标会过一段时间就出现，直到我会读了为止。
                            如果读的不标准，后台老师也会留言纠正我的发音。学完后，妈妈拿姐姐的初三英语单词表给我读，我都读对了，而且很快很标准。
                        </p>
                    </div>
                </div>
                <!-- End off col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-item border sm-m-top-80" style="padding: 35px 0 25px 0; height:auto;">
                        <div class="pricing-icon">
                            <img src="~/assets/images/y2.png" alt="" />
                        </div>
                        <div class="pricing-title m-top-40">
                            <h4 class="text-black">魏佳*</h4>
                            <div class="separator"></div>
                        </div>
                        <p class="suojin1" style="padding-top:20px;">
                            我已经在智能课堂学习很久了，学习成绩一直保持得很好。
                            智能课堂有个比较吸引我的地方是做题时会积累钻石和金币。它们是我的学习财富，用它们能兑换到一些想要的奖品。做题时也会有小惊喜，比如会得到可以抽奖的小宝箱，我很喜欢这种不枯燥的学习方式。
                        </p>
                    </div>
                </div>
                <!-- End off col-md-3-->
            </div>
            <div class="col-md-12 m-top-20">
                <div class="head-title text-center">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank" class="btn btn-primary btn-round m-top-20">更多分享</a>
                </div>
            </div>

        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off pricing section -->
<!--Happy Customer section-->
<section id="customer" class="customer sections4 bg-grey">
    <div class="container">
        <div class="row">
            <div class="main-customer">
                <div class="col-md-4 col-sm-6">
                    <div class="customer-item">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/cup.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2><span class="statistic-counter">600,000</span> <span>+</span></h2>
                                    <p>题库总量</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="customer-item xs-m-top-50">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="customer-icon">
                                    <img src="~/assets/images/shapes.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="customer-content m-top-15">
                                    <h2><span class="statistic-counter">100,000</span> <span>+</span></h2>
                                    <p>真人录音讲解</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                <div class="col-md-4 col-sm-6">
                    <div class="customer-item sm-m-top-50">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="customer-icon">
                                    <img src="~/assets/images/draw.png" alt="" />
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="customer-content m-top-15">
                                    <h2><span class="statistic-counter">2000,000</span> <span>+</span></h2>
                                    <p>做题记录总量</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End off col-md-3 -->
                @*<div class="col-md-3 col-sm-6">
                        <div class="customer-item sm-m-top-50">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="customer-icon">
                                        <img src="~/assets/images/cup.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="customer-content m-top-15">
                                        <h2 class="statistic-counter">100</h2>
                                        <p>Guaranteed Results</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- End off col-md-3 -->
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off customer section-->
<!--Clients section-->
<section id="clients" class="clients">
    <div class="transit-01">
        <img src="~/assets/images/support-img-01.png" alt="" />
    </div>
    <div class="transit-02">
        <img src="~/assets/images/calenter-02.png" alt="" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="client-love sections3">
                    <h2 class="text-white">
                        提分效果好
                        家长<span class="text-info">更信赖</span>
                    </h2>
                    <p class="text-muted m-top-30">
                        目前在线教育种类繁多，定位差异很大。家长很难找出适合自己孩子的方案。培洛是以“教”为核心，以“练”为主要内容的一站式的教育解决方案。全方位解决家长的顾虑。
                    </p>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" target="_blank" class="btn btn-primary btn-round m-top-30">了解更多</a>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="client-testimonial text-center m-top-100">
                    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="client-img">
                                    <img src="~/assets/images/client-img-02.png" style="border:none;" />
                                </div>
                                <div class="client-test-content">
                                    <div class="reviews_item_icon pull-left text-left">“</div>
                                    <p class="m-top-30 text-muted feedback">
                                        &nbsp; &nbsp; &nbsp; &nbsp;数学一直是孩子很头疼的科目，去过很补习班都不理想。试学了培洛的课程之后， 发现他们把知识点分的很细，孩子很好理解的。学习劲头明显提高。
                                    </p>
                                    <div class="reviews_item_icon1 pull-right text-right">“</div>
                                </div>
                                <h6 class="text-white">- 江阴 高女士</h6>
                            </div>
                            <div class="item">
                                <div class="client-img">
                                    <img src="~/assets/images/client-img-03.png" style="border:none;" />
                                </div>
                                <div class="client-test-content">
                                    <div class="reviews_item_icon pull-left text-left">“</div>
                                    <p class="m-top-30 text-muted feedback">
                                        &nbsp; &nbsp; &nbsp; &nbsp;我们家两个女儿从老家转学过来之后，英语都是在培洛智能课堂学习的，突袭了一个多月，就把一整年落下的课程全都补回来了，开学无压力。
                                    </p>
                                    <div class="reviews_item_icon1 pull-right text-right">“</div>
                                </div>
                                <h6 class="text-white">- 无锡 孙先生</h6>
                            </div>
                            <div class="item">
                                <div class="client-img">
                                    <img src="~/assets/images/client-img-04.png" style="border:none;" />
                                </div>
                                <div class="client-test-content">
                                    <div class="reviews_item_icon pull-left text-left">“</div>
                                    <p class="m-top-30 text-muted feedback">
                                        &nbsp; &nbsp; &nbsp; &nbsp;孩子一个人在家学习也很有劲，暑假学了一个月的下学期新课，开学后老师表扬她很多次，最近几次考试也都是95分以上，我会继续使用的。
                                    </p>
                                    <div class="reviews_item_icon1 pull-right text-right">“</div>
                                </div>
                                <h6 class="text-white">- 苏州 张女士</h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off clients section -->
<!--Newest Blog post section-->
<section id="newest-blog" class="newest-blog sections">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-title text-center">
                    <h2 class="text-black">各地学员风采</h2>
                </div>
            </div>
            <div class="main-newest-blog m-top-30">

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/01.jpg" style="height:306px;" title="学员风采" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/02.jpg" style="height:306px;" title="学员风采" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/03.jpg" style="height:306px;" title="学员风采" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/04.jpg" style="height:306px;" title="学员风采" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/05.jpg" style="height:306px;" title="学员风采" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="newest-blog-item border" style="padding:0;overflow:hidden;">
                        <img src="~/assets/images/06.jpg" style="height:306px;" title="学员风采" />
                    </div>
                </div>

            </div>
            @*<div class="col-md-12 m-top-20">
                    <div class="head-title text-center">
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=825021872&site=qq&menu=yes" class="btn btn-primary btn-round m-top-20">了解更多</a>
                    </div>
                </div>*@
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Newest Blog post section-->

<section id="localseo" class="localseo fix sections3" style="padding-top: 0px; padding-bottom: 30px;">
    <div class="transit-03">
        <img src="~/assets/images/graphic-01.png" style="width:100px;" />
    </div>
    <div class="transit-04">
        <img src="~/assets/images/desk-01.png" style="width:150px;" />
    </div>
    <div class="transit-05">
        <img src="~/assets/images/monitor-01.png" style="width:130px;" />
    </div>
    <div class="transit-06">
        <img src="~/assets/images/pencils-01.png" style="width:50px;" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-localseo-area">
                    <div class="main-localseo border text-center bg-white m-top-50">

                        @*<form class="form-inline" method="post">
                                <span style="font-size:17px;color:#13A0B2;font-weight:bold;">预约试用</span>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="请填写您的姓名">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="请填写您的电话">
                                </div>
                                <button type="submit" class="btn btn-primary btn-round">开始预约</button>
                            </form>*@

                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <span style="font-size:17px;color:#13A0B2;font-weight:bold;">预约试用</span>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.customerName, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写您的姓名" } })
                                @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
                                @*<input type="text" class="form-control" placeholder="请填写您的姓名">*@
                            </div>
                            <div class="form-group">
                                @*<input type="email" class="form-control" placeholder="请填写您的电话">*@
                                @Html.EditorFor(model => model.customerPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写您的电话" } })
                                @Html.ValidationMessageFor(model => model.customerPhone, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-primary btn-round">开始预约</button>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
        $(function () {
            $('#slide4').attr('src', '../../assets/images/slider4.jpg');
            $('#slide3').attr('src', '../../assets/images/slider1.jpg');
            $('#slide2').attr('src', '../../assets/images/slider2.jpg');
            $('#slide1').attr('src', '../../assets/images/slider3.jpg');
            //alert('手机端')
        });
    }
</script>